<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="CacheByAttribute.Core" version="0.1.0.3" targetFramework="net45" />
  <package id="ellipsoid.org.SharpAngles" version="0.2.3-alpha" targetFramework="net45" />
  <package id="ellipsoid.org.SharpAngles.UI" version="0.3.0-alpha" targetFramework="net45" />
  <package id="PostSharp" version="3.1.46" targetFramework="net45" />
  <package id="WebSharper" version="3.0.15.92-alpha" targetFramework="net45" />
  <package id="WebSharper.Highcharts" version="3.0.5.80-alpha" targetFramework="net45" />
</packages>